{
  "presets": [
    "es2015",
    "stage-1"
  ],
  "env": {
    "development": {
      "plugins": [
        "espower"
      ]
    },
    "production": {
      "plugins": [
        "transform-object-assign",
        "add-module-exports"
      ],
    }
  }
}
