---
extends:
  - airbnb-base
parser: babel-eslint

env:
  node: true
  mocha: true

rules:
  valid-jsdoc:
    - 2
    - prefer:
        return: returns

  max-len: 1
  arrow-body-style: 1

  global-require: 1
  import/no-extraneous-dependencies: 1
  import/no-dynamic-require: 1
  prefer-destructuring: 1
